/* Font Import */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&family=Poppins&display=swap');

/* Styles de base */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: #F5F5DC;
    color: #3B2C20;
    height: auto; /* Permettre la hauteur automatique */
    min-height: 100vh; /* S'assurer que le fond s'étend sur toute la page */
}

h1, h2, h3, p {
    margin: 1em;
    color: #3B2C20;
}

h2 {
    font-size: 50px;
    text-transform: uppercase;
    font-weight: bold;
    text-decoration: underline #6d0d83;
    text-decoration-thickness: 3px;
    text-underline-offset: 5px;
}

/* ==================================== */
/* ===== H E A D E R ====== */
/* ==================================== */
.header-text {
    background-color: #F5F5DC;
    padding: 20px; /* Ajout de padding */
    border-radius: 10px; /* Coins arrondis */
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); /* Légère ombre pour le relief */
    margin-top: 20%; /* Ajout d'une marge en haut */
    font-size: 25px;
}

.header-text h1 {
    font-size: 40px;
    margin-top: 20px;
}

.header-text h1 span {
    color: #bc15e1; /* Couleur d'accent pour une partie du titre */
}

#header {
    width: 100%;
    height: 100vh;
    background-image: url("/images/background.webp");
    background-size: cover;
    background-position: center;
}

.container {
    padding: 10px 10%;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

nav ul {
    padding: 0; /* Supprimer le padding par défaut */
    list-style: none; /* Enlever les puces */
}

nav ul li {
    display: inline-block;
    margin: 12px 20px;
    border: 3px solid #3B2C20; /* Bordure colorée */
    padding: 7px 15px;
    border-radius: 6px;
    background-color: #F5F5DC; /* Fond du menu */
    transition: background 0.7s; /* Transition pour le fond */
}

nav ul li a {
    color: #3B2C20; /* Couleur de texte du menu */
    text-decoration: none;
    font-size: 24px;
    position: relative;
}

nav ul li a::after {
    content: '';
    width: 0;
    height: 3px;
    background: #bc15e1; /* Couleur de soulignement */
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: width 0.5s; /* Transition douce */
}

nav ul li a:hover::after {
    width: 100%; /* Animation de soulignement au survol */
}
/* ==================================== */
/* =========== F O O T E R =========== */
/* ==================================== */

#footer {
    background-color: #3B2C20; /* Couleur de fond marron foncé */
    color: #F5F5DC; /* Couleur de texte beige clair */
    text-align: center;
    padding: 30px 0;
}


/* Styles pour la flèche */
#scroll-arrow {
    position: fixed; /* Fixe la flèche à la fenêtre */
    bottom: 20px; /* Espacement par rapport au bas de la fenêtre */
    right: 20px; /* Espacement par rapport à la droite de la fenêtre */
    background-color: #3B2C20; /* Couleur de fond de la flèche */
    color: #F5F5DC; /* Couleur de l'icône */
    padding: 10px; /* Espacement autour de l'icône */
    border-radius: 15%; /* Arrondi pour un effet de cercle */
    cursor: pointer; /* Change le curseur au survol */
    transition: opacity 0.3s; /* Animation de transition */
    opacity: 0; /* Masqué par défaut */
    z-index: 1000; /* Assure que la flèche est au-dessus du contenu */
}

#scroll-arrow.hidden {
    display: none; /* Cache la flèche */
}

#scroll-arrow:hover {
    background-color: #F5F5DC; /* Change la couleur de fond au survol */
    color: #3B2C20; /* Change la couleur de l'icône au survol */
}


/* ===================================== */
/* === I M A G E   C L I Q U A B L E === */
/* ===================================== */
.modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: hidden; /* Empêche le défilement lors de l'affichage de la modal */
    background-color: rgba(0, 0, 0, 0.9);
}

.modal-content {
    margin: auto;
    display: block;
    width: 90%; /* Augmente la largeur de l'image */
    max-width: 90vw; /* Limite la largeur à 90% de la largeur de l'écran */
    max-height: 90vh; /* Limite la hauteur à 90% de la hauteur de l'écran */
    object-fit: contain; /* Assure que l'image conserve ses proportions */
}

.close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: white;
    font-size: 40px;
    font-weight: bold;
    cursor: pointer;
}

.close:hover,.close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

#caption {
    margin: auto;
    text-align: center;
    color: white;
    padding: 10px 20px;
}

/* ==================================== */
/* =========== R E S P O N S I V E =========== */
/* ==================================== */

@media (max-width: 768px) {
    /* Ajuster la taille de h2 pour éviter le débordement */
    h2 {
        font-size: 30px; /* Ajuster si nécessaire */
        margin: 10px 0; /* Réduire les marges */
    }

    /* Ajustement pour la section en dessous */
    .section-inferieure {
        padding-top: 20px; /* Réduire le padding si nécessaire */
    }
}
.header-text h1 {
    font-size: 36px; /* Réduire la taille de h1 pour mobile */
    margin: 10px 5px; /* Réduire la marge pour éviter le débordement */
}

    .header-text {
        font-size: 20px; /* Taille de texte de l'en-tête plus petite */
        padding: 15px;
        text-align: center; /* Centrer le texte pour mobile */
    }

    nav ul {
        flex-direction: column; /* Empiler les éléments de navigation */
        align-items: center; /* Centrer les éléments */
    }

    nav ul li {
        margin: 10px 5px; /* Ajuster l'espacement pour les petits écrans */
        font-size: 18px; /* Taille de police plus petite pour les éléments de navigation */
    }

    .image {
        margin-top: 20px; /* Ajouter une marge au-dessus de l'image pour éviter la superposition */
    }

    .image img {
        max-width: 100%; /* Rendre les images responsives */
        height: auto; /* Maintenir le ratio d'aspect */
    }

    .description {
        font-size: 12px; /* Taille de texte plus petite pour la description */
        text-align: center; /* Centrer le texte */
    }

    .layer_pres h3 {
        font-size: 14px; /* Ajuster la taille des titres dans les couches */
    }

    .tab-titles {
        flex-direction: column; /* Empiler les titres des onglets sur les petits écrans */
        align-items: center; /* Centrer les éléments */
    }

    .tab-links {
        margin-right: 0; /* Supprimer la marge à droite */
        margin-bottom: 10px; /* Ajouter de l'espace entre les liens d'onglets */
    }

    .tuto-list {
        grid-template-columns: repeat(auto-fit, minmax(150px, 1fr)); /* Colonnes plus petites */
        justify-items: center; /* Centrer les éléments */
    }

    .btn_tuto {
        width: 100%; /* Bouton pleine largeur sur les petits écrans */
        padding: 10px; /* Padding plus petit */
        text-align: center; /* Centrer le texte du bouton */
    }

    /* Ajoutez un padding à la section inférieure pour éviter le débordement */
    .section-inferieure {
        padding-top: 40px; /* Ajustez cette valeur selon vos besoins */
    }
@media (max-width: 390px) {
    body {
        font-size: 16px; /* Réduire la taille de police */
        padding: 0 10px; /* Ajouter du padding pour éviter le débordement */
    }

    h1 {
        font-size: 32px; /* Taille réduite pour h1 */
        margin: 20px 0; /* Ajuster les marges */
        text-align: center; /* Centrer le titre */
    }

    h2 {
        font-size: 28px; /* Taille réduite pour h2 */
    }

    .header-text h1 {
        font-size: 28px; /* Taille de titre plus petite pour le mobile */
    }

    nav ul li {
        margin: 5px 0; /* Réduire l'espacement vertical */
        font-size: 16px; /* Police plus petite pour le menu */
    }

    .modal-content {
        max-width: 95vw; /* Limiter la largeur à 95% de l'écran */
    }

    .image img, .tuto img {
        max-width: 100%; /* Largeur pleine pour les images */
        height: auto;
    }

    .layer_pres h3, .layer_tuto h3 {
        font-size: 24px; /* Police réduite dans les couches */
    }

    .layer_tuto a, .btn_tuto {
        width: 50px; /* Bouton plus petit */
        height: 50px;
        font-size: 16px;
    }

    .description, .layer_tuto p {
        font-size: 12px; /* Texte plus petit pour description */
    }

    /* Adaptation pour le footer */
    #footer {
        font-size: 14px; /* Police plus petite pour le footer */
        padding: 20px 0;
    }

    /* Flèche de défilement plus petite */
    #scroll-arrow {
        padding: 8px; /* Réduire le padding */
    }
}


/* Styles pour tablette */
@media (min-width: 769px) and (max-width: 1024px) {
    body {
        font-size: 18px; /* Ajuster la taille de la police de base pour les tablettes */
    }

    h1 {
        font-size: 48px; /* Ajuster la taille des h1 pour les tablettes */
        margin: 30px 0; /* Ajouter une marge au-dessus et en-dessous du titre h1 pour les tablettes */
        text-align: left; /* Alignement à gauche pour les tablettes */
    }

    h2 {
        font-size: 40px; /* Ajuster la taille des h2 */
        margin: 30px 0; /* Ajouter une marge au-dessus et en-dessous du titre h2 pour les tablettes */
    }

    .header-text {
        text-align: left; /* Alignement à gauche pour les tablettes */
    }

    nav ul {
        display: flex; /* Flexbox pour un affichage en ligne */
        justify-content: center; /* Centrer les éléments */
    }

    nav ul li {
        margin: 15px; /* Ajuster l'espacement pour les tablettes */
        font-size: 20px; /* Ajuster la taille de la police */
    }

    .image {
        margin-top: 30px; /* Ajouter une marge au-dessus de l'image pour éviter la superposition */
    }

    .image img {
        max-width: 90%; /* Légère réduction de la taille des images */
        margin: auto; /* Centrer les images */
    }

    .description {
        font-size: 14px; /* Ajuster la taille du texte de description */
    }

    .layer_pres h3 {
        font-size: 16px; /* Ajuster la taille des titres dans les couches */
    }

    .tuto-list {
        grid-template-columns: repeat(2, 1fr); /* Deux colonnes sur les tablettes */
    }

    /* Ajoutez un padding à la section inférieure pour éviter le débordement */
    .section-inferieure {
        padding-top: 60px; /* Ajustez cette valeur selon vos besoins */
    }
}


/* ==================================== */
/* ===== P R E S E N T A T I O N ====== */
/* ==================================== */

.images-list {
    display: flex;
    flex-direction: column;
    gap: 40px;
    margin-bottom: 50px;
}

.image {
    position: relative; 
    display: flex; 
    flex-direction: column; /* Colonne pour empiler l'image et la description */
    align-items: center; /* Centrer le contenu */
    text-align: center; /* Centrer le texte */
}

.image-container {
    display: flex;
    justify-content: center; /* Centre l'image horizontalement */
    margin-bottom: 10px; /* Ajoute de l'espace entre l'image et la description */
}

.image img {
    width: 100%;
    max-width: 500px; /* Limite la largeur des images */
    border-radius: 10px;
    transition: transform 0.7s;
    transform-origin: bottom left;
}

.description {
    margin: 0 10px; /* Ajoute un peu d'espace autour de la description */
}

/* Couche de description au survol */
.layer_pres {
    width: 35%;
    height: 0;
    border-radius: 10px;
    position: absolute;
    left: 0;
    bottom: 0;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 20px;
    text-align: center;
    font-size: 14px;
    transition: height 0.7s;
}

.image:hover .layer_pres {
    height: 100%; /* Affiche la couche au survol */
}

.layer_pres h3 {
    font-weight: 500;
    margin-bottom: 20px;
    font-size: 45px;
}

.layer_pres p {
    background-color:#F5F5DC;
    font-size: 14px;
    font-weight: 400;
}

/* =========================== */
/* ==== B E N C H M A R K === */
/* =========================== */

.tab-titles {
    display: flex;
    margin: 20px 0 40px;
}

.tab-links {
    margin-right: 50px;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    position: relative;
    color: #3B2C20; /* Couleur de texte pour les onglets */
}

.tab-links::after {
    content: '';
    width: 0;
    height: 3px;
    background: #bc15e1;
    position: absolute;
    left: 0;
    bottom: -8px;
    transition: 0.5s;
}

.tab-links.active-link::after {
    width: 50%;
}

.tab-contents {
    display: none;
}

.tab-contents.active-tab {
    display: block;
}

.tab-contents ul li {
    list-style: none;
    margin: 10px 0;
}

.tab-contents ul li span {
    color: #6d0d83; /* Couleur d'accent pour le texte dans les contenus d'onglet */
}

/* ==================================== */
/* ======== T U T O R I E L ======== */
/* ==================================== */

#tuto {
    padding: 50px 0;
}

.tuto-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 40px;
    margin-bottom: 50px;
}

.tuto {
    border-radius: 10px;
    position: relative;
    overflow: hidden;
}

.tuto img {
    width: 100%;
    border-radius: 10px;
    display: block;
    transition: transform 0.7s;
}

.tuto:hover img {
    transform: scale(1.3); /* Agrandir l'image au survol */
}

.layer_tuto {
    width: 100%;
    height: 0;
    background: linear-gradient(rgba(0, 0, 0, 0.4), #3B2C20);
    border-radius: 10px;
    position: absolute;
    left: 0;
    bottom: 0;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 40px;
    text-align: center;
    font-size: 14px;
    transition: height 0.7s;
}

.tuto:hover .layer_tuto {
    height: 100%; /* Afficher la couche au survol */
}

.layer_tuto a {
    margin-top: 10%;
    color: #3B2C20; /* Couleur du lien */
    text-decoration: none;
    font-size: 18px;
    line-height: 60px;
    background: #fff; /* Fond blanc pour le bouton */
    width: 60px;
    height: 60px;
    border-radius: 15px; /* Bouton rond */
    text-align: center;
    display: flex; /* Centre le contenu du bouton */
    align-items: center;
    justify-content: center;
    transition: background 0.7s, transform 0.3s; /* Animation au survol */
}

.layer_tuto a:hover {
    background: #6d0d83; /* Fond violet au survol */
    color: #fff; /* Texte blanc pour contraste */
    transform: scale(1.1); /* Mise en avant légère */
}

/* Texte descriptif dans la couche tutoriel */
.layer_tuto p {
    margin-top: 10%; /* Espacement ajusté */
    color: #F5F5DC;
    text-align: center;
    align-items: center;
    justify-content: center;
}

/* Bouton principal pour le tutoriel */
.btn_tuto {
    display: block;
    margin: 50px auto;
    width: 150px; /* Largeur fixe pour cohérence */
    padding: 15px;
    border: 3px solid #6d0d83;
    border-radius: 6px;
    text-decoration: none;
    background-color: #3B2C20;
    color: #F5F5DC;
    font-size: 18px;
    text-align: center;
    transition: background 0.7s;
}

.btn_tuto:hover {
    background: #6d0d83; /* Changer la couleur au survol */
}
